
  <div layout-padding>
  <form hide-gt-xs ng-submit="$event.preventDefault()">      
    <md-autocomplete
    class="md-primary"
        md-selected-item="search.selectedItem"
        md-search-text-change="search.searchTextChange(search.searchText)"
        md-search-text="search.searchText"
        md-selected-item-change="search.selectedItemChange(item)"
        md-items="item in search.querySearch(search.searchText)"
        md-item-text="item.first"
        md-min-length="2"
        placeholder="Search"
        md-menu-class="autocomplete-custom-template">
      <md-item-template>
        <span class="item-title">
          <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
          <span> {{item.first}} </span>
        </span>
        <span class="item-metadata">
          <span class="item-metastat">
            <strong>{{item.watchers}}</strong> watchers alphabet soup
          </span>
          <span class="item-metastat">
            <strong>{{item.forks}}</strong> forks
          </span>
        </span>
      </md-item-template>
    </md-autocomplete>
  </form>
</div>
<md-list class="md-dense md-hue-2" flex style="padding-top:0px;">
  <md-list-item ng-href="<%= site.root %>members"><i class="fa fa-fw fa-user"></i> Membership</md-list-item>
  <md-list-item ng-href="<%= site.root %>missions"><i class="fa fa-fw fa-binoculars"></i> Missions</md-list-item>
  <md-list-item ng-href="<%= site.root %>training"><i class="fa fa-fw fa-book"></i> Training</md-list-item>
  <md-list-item class="inner" ng-href="<%= site.root %>training/list"><p>Rosters</p></md-list-item>
  <md-list-item ng-href="<%= site.root %>units"><i class="fa fa-fw fa-users"></i> Units</md-list-item>
  <md-list-item ng-href="<%= site.root %>animals"><i class="fa fa-fw fa-paw"></i> Animals</md-list-item>  
</md-list>